<<<<<<< HEAD
=======
/* здесь подключите шрифты */
>>>>>>> 2cd2cba (исправление ошибок)
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
<<<<<<< HEAD

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
=======
>>>>>>> 2cd2cba (исправление ошибок)
