/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$base-color-title:#000000;
$base-color-background: #68b738;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;
$base-color-button-text: #ffffff;
