/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
