.additional {
  overflow-x: hidden;
  padding-top: 25px;
}

.additional__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1221px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color-title;
  margin: 0;
  position: relative;
  background-color: #ffffff;
  box-shadow: -40px 0 0 #ffffff, 40px 0 #ffffff;
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    padding-left: 25px;
    box-shadow: 0 0 0 #ffffff, 40px 0 #ffffff;
  }

  @media (min-width: $desktop-width) {
    box-shadow: -40px 0 0 #ffffff, 40px 0 #ffffff;
    margin-left: 110px;
    padding-left: 0;
    font-size: 40px;
    line-height: 40px;
  }

  &::before {
    content: "  ";
    position: absolute;
    top: 17px;
    background: #68b738;
    width: 100vw;
    height: 2px;
    display: block;
    right: 0;
    box-shadow: 100vw 0 0 0 #68b738;
    z-index: -1;
  }
}

.additional__list {
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 80px 0 0;
    outline: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    max-width: 896px;
  }
}

.additional__item {
  border-top: 1px solid #cdcdcd;
  padding: 12px 0 19px;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border-bottom: 1px solid #cdcdcd;
    border-top: none;
    padding: 26px 38px;
    justify-content: space-between;
  }

  &:nth-child(4) {
    border-bottom: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 26px 0;
    justify-content: start;
    gap: 40px;
    align-items: baseline;
  }
}

.additional__product {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
  }
}

.additional__text {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  justify-content: space-between;
  color: $base-color-title;
  line-height: 14px;
  text-align: left;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 222px;
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 285px;
  }
}

@media (min-width: $tablet-width) {
  .additional-price {
    width: 42px;
  }
}

.additional__button {
  display: block;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background: #68b738;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 10px 285px;
    margin: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 91px;
    margin: 0;
  }
}

.additional__promo {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../../images/background-catalog-mobile@2x.png");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 290px;
  padding: 187px 61px 43px 58px;
  margin: 20px 0 0;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../../images/background-catalog-tablet@2x.png");
    margin: 70px 0 0;
    min-height: 190px;
    padding: 71px 125px 69px 77px;
    background-position: center;
    background-size: cover;
    flex-direction: row;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../../images/background-catalog-desktop@2x.png");
    min-height: 288px;
    width: 245px;
    background-size: contain;
    background-position: top;
  }
}

.additional__text-promo {
  max-width: 161px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  gap: 48px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#icon-box");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    width: 78px;
    height: 81px;
    position: absolute;
    top: -128px;
    left: 43px;

    @media (min-width: $tablet-width) {
      top: -11px;
      left: -350;
      width: 80px;
      height: 83px;
    }
  }
}
