.additional{

}

.additional__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-title;
  margin: 25px 0 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  &::after {
    content: "  ";
    position: absolute;
    top: 10px;
    right: -20px;
    background: #68b738;
    width: 35px;
    height: 2px;
  }
}

.additional__list {
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    margin: 0 auto;
  }
}

.additional__item {
  border-top: 1px solid #cdcdcd;
  padding: 12px 0 19px;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &:first-child {
    margin: 21px 0 0;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__product {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 244px 0 0;
  }
}

.additional__text {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  justify-content: space-between;
  color: $base-color-title;
  line-height: 14px;
  text-align: left;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 222px;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-price {
  display: flex;
  flex-wrap: wrap;
  line-height: 14px;
  color: $base-color-title;
}

.additional__button {
  display: block;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background: #68b738;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 10px 285px;
  }
}

.additional__promo {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../../images/background-catalog-mobile@2x.png");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 290px;
  padding: 187px 61px 43px 58px;
  margin: 20px 0 0;

  @media (min-width: $tablet-width) {
    min-height: 190px;
    background-size: 100%;
  }
}

.additional__text-promo {
  max-width: 161px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  gap: 48px;
  position: relative;
}

.additional__text-promo::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon-box");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  width: 78px;
  height: 81px;
  position: absolute;
  top: -128px;
  left: 43px;
}
