.advantages{

}

.advantages__wrapper{

}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
}

.advantages__list{

}

.advantages__item{

}

.dvantages__description{

}
