.card{

}

.card__link{

}

.card__image{

}

.card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-title;
}

.card__table {
  font-size: 12px;
  line-height: 16px;
}

.card__text{

}

.card__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.card__button--order {
  background: #68b738;
}

.card__button-all {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-title;
  text-decoration: none;
}

.card__button-all--show {
  background: #f2f2f2;
}
