.card {
  margin: 0;
  padding: 0;
}

.card__link {
  display: flex;
}

.card__content {
  display: flex;
  width: 50%;
  min-height: 107px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.card__item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.card__image{

}

.card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-title;
  margin: 0;
  max-width: 75px;
}

.card__table {
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  margin: 0;
  padding: 0;
}

.card__text {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.card__weight {
  margin: 0;
  padding: 0;
}

.card__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.card__button--order {
  background: #68b738;
  // padding: 10px 109px;
}

.card__button-all {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-title;
  text-decoration: none;
}

.card__button-all--show {
  background: #f2f2f2;
}

.card__button--order-product {
  background: #68b738;
}
