.contacts {
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 628px;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-title;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__description {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .contacts__city {
    display: inline-block;
    margin-top: 20px;
  }
}
