.example {
  background: #eaeaea;
  margin: 0;
  padding: 25px 0 23px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 133px;
    background-image: linear-gradient(#ffffff 57.3%, #00000000 57.3%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 70px;
    display: flex;
    background-image: linear-gradient(#ffffff 22.6%, #00000000 22.6%);
    justify-content: space-between;
  }
}


.example__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 50%;
    margin: 0;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 40px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
    margin: 146px 0 0;
  }
}

