.location__map {
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.location iframe {
  border: none;
  display: block;
  background-image: image-set("../images/map-mobile@1x.webp" type("image/webp") 1x, "../images/map-mobile@2x.webp" type("image/webp") 2x, "../images/map-mobile@1x.png" 1x, "../images/map-mobile@2x.png" 2x);
  background-size: 320px 362px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: image-set("../images/map-tablet@1x.webp" type("image/webp") 1x, "../images/map-tablet@2x.webp" type("image/webp") 2x, "../images/map-tablet@1x.png" 1x, "../images/map-tablet@2x.png" 2x);
    background-size: 768px 400px;
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../images/map-desktop@1x.webp" type("image/webp") 1x, "../images/map-desktop@2x.webp" type("image/webp") 2x, "../images/map-desktop@1x.png" 1x, "../images/map-desktop@2x.png" 2x);
    background-size: 1440px 400px;
  }
}
