.main-footer {
  padding: 40px 0;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 57px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0;
  }
}


.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: $tablet-width) {
    width: 708px;
    flex-direction: row;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.main-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 160px;
  }
}

.main-footer__social {
  margin: 0;
  padding: 0;
}

.main-footer__copyright{

}
