.main-header {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  // background-image: linear-gradient(#ffffff 10%, #68b738d9 35%, #ffffff 35%,);

  &::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0; /*  - ВАЖНО - прижимает фон к низу блока */
    width: 100%;
    position: absolute;
    z-index: -100;
    height: 302px;
    background-image: url("../../images/index-background-mobile@2x.png"), linear-gradient(90deg, #504f55 50%, #434248 50%);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    background-position: top;

    @media (min-width: $tablet-width) {
      background-image: none;
      margin: 0;
      padding: 0;
    }
  }


  @media (min-width: $tablet-width) {
    display: block;
    padding: 25px 34px 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 55px 0 29px;
    margin: 0;
  }
}


.main-header__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 704px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }
}


.main__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 53px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 174px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}


.main-header__logo {
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo-text {
  padding: 13px 0 0 1px;

  @media (min-width: $tablet-width) {
    padding: 8px 0 0 1px;
  }
}
