.main-nav {

}

.main-nav__toggle{

}

.main-nav__wrapper{

}

.main-nav__list {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  color: #000000;
}

.main-nav__item {
}

.main-nav__item--current {

}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}
