.main-header {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 25px 34px 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 55px 0 29px;
    margin: 0;
  }
}


.main-header__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 704px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }
}


.main__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 174px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}


.main-header__logo {

}
