.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  background-color: #ffffff;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 0 12px;
    min-width: 436px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 17px 0 12px;
    min-width: 475px;
  }
}

.main-nav-catalog__wrapper {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}
