.main-header {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: block;
    padding-top: 25px;
    margin: 0;
    min-width: 768px;
  }
}

.main-header__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: flex;
    width: 704px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }
}

.main__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

@media (min-width: $tablet-width) {
  .main__block {
    display: flex;
    width: 174px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.main-header__logo {

}
