.main-footer {
  padding: 40px 0;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 57px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0;
  }
}


.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: $tablet-width) {
    width: 708px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media (max-width: 767px) {
  .main-footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 0 20px;


    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-footer__logo {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.main-footer__social {
  margin: 0;
}

@media (max-width: 767px) {
  .main-footer__developer {
    border-top: 1px solid #cdcdcd;
    padding: 20px 0 0;
  }
}

.main-footer__link {
  display: flex;
  width: 280px;
  align-items: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $base-color-title;
  justify-content: space-between;

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#logo-html-academy");
    mask-repeat: no-repeat;
    width: 28px;
    height: 34px;
    mask-position: center;
    background-color: #666666;
  }

  &:hover::after {
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}
