.main-header-catalog {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 25px 34px 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 51px 0 29px;
    margin: 0;
  }
}

.main-header-catalog__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 704px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    margin: 0 auto;
  }
}


.main-header-catalog__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 53px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 174px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.main-header-catalog__main-nav-catalog {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 0 12px;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 16px 0 12px;
    width: 480px;
  }
}

.main-header-catalog__logo {
  padding-top: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}


.main-header-catalog__logo-text {
  padding: 9px 5px 0 16px;
  width: 110px;
  height: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 0 0 1px;
    margin: 0 0 0 11px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    padding: 17px 0 0 2px;
  }
}

.main-header-catalog__toggle {
  background-color: #ffffff;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
