/* stylelint-disable at-rule-empty-line-before */
.meta {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 55px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 69px 0 0;
    flex-direction: column;
  }
}

.meta__block {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 367px;
  }
}

.meta__information {
  display: flex;
  flex-wrap: wrap;
  width: 123px;
  min-height: 54px;
  margin: 0;
  border-radius: 4%;
  border: 1px solid #cdcdcd;
  position: relative;


  @media (min-width: $tablet-width) {
    width: 161px;
    min-height: 71px;
  }
}

.meta__title--weight {
  display: flex;
  width: 70px;
  flex-wrap: wrap;
  font-family: "Lato", system-ui, "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  top: 46px;
  left: 15px;
  position: absolute;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  background: rgb(234, 234, 234);
  @media (min-width: $tablet-width) {
    top: 63px;
    left: 23px;
    width: 114px;
    padding: 0;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    background: #ffffff;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
    left: 23px;
    background: #eaeaea;
  }
}

.meta__title--time {
  display: flex;
  width: 70px;
  flex-wrap: wrap;
  font-family: "Lato", system-ui, "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  top: 46px;
  left: 16px;
  position: absolute;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  background: rgb(234, 234, 234);
  @media (min-width: $tablet-width) {
    top: 63px;
    left: 9px;
    width: 142px;
    padding: 0;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    background: #ffffff;
  }
  @media (min-width: $desktop-width) {

    background: #eaeaea;
  }
}

.meta__text {
  display: flex;
  font-family: "Oswald", system-ui, "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-color-title;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    align-items: start;
    padding: 15px 0 0;
  }
}

.meta__price {
  box-sizing: border-box;
  font-family: "Oswald", system-ui, "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-title;
  text-align: center;
  margin: 35px 0 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin: 7px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 0;
    display: flex;
    width: 327px;
    justify-content: space-between;
    padding: 0;
  }
}
