.preview{

}

.preview__wrapper{

}

.preview__content {
  background: #f2f2f2;
}

.preview__icon-narrow {

}

.preview__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $base-color-title;
}

.preview__description {

}

.preview__link{

}

.review__item {

}

.preview__item--catalog {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-color-title;
}
