.products {
  display: flex;
  flex-direction: column;
  padding: 27px 0 0;
}

.products__wrapper {
  width: 280px;
  margin: 0 auto;
}

.products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
  margin: 0;
  text-align: left;
}

.products__card {
  margin: 41px 0 0;
  padding-top: 22px;
}
