.products {
  display: flex;
  flex-direction: column;
  padding: 27px 0 0;
  border-top: 1px solid #ebebeb;
  margin: 0;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 61px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0 0;
  }
}

.products__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.products__title {
  font-family: "Oswald",system-ui, "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
  margin: 0;
  text-align: left;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}
