.promo {
  font-family: "Oswald",system-ui, "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 767px) {
    &::after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      position: absolute;
      z-index: -100;
      height: 302px;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%,), url("../../images/index-background-mobile@2x.png"), linear-gradient(90deg, rgba(80, 78, 83, 0.85) 50%, rgba(80, 78, 83, 0.85) 50%);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      background-position: top;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 708px;
    display: flex;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 0;
  }
}

.promo__wrapper {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    position: relative;
  }
}


.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 27px 0 0;
  padding: 0;
  text-align: center;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $base-color-title;
    margin: 60px 0 0  90px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 44px 0 0  80px;
  }
}


.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 25px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: $base-color-title;
    width: 283px;
    padding: 0;
    margin: 40px 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 0 80px;
  }
}

.promo__background {
  display: block;
  margin: 0 auto;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    top: -57px;
    left: 447px;
  }
}

.promo__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-color-button-text;
  background-color: $base-color-background;
  padding: 10px 0;
  margin: 3px auto 0;
  font-family: "Oswald",system-ui, "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 2;

  &:hover,
  &:focus {
    background: rgba(94, 170, 47, 1);
  }

  &:active {
    color: rgba(142, 195, 109, 1);
  }

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 26px;
    margin: 51px 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 52px 0 0 80px;
  }
}
