.slider {
  width: 280px;
  margin: 18px auto;
  padding: 0;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 86px;
    min-width: 560px;
    min-height: 462px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .slider__bar {
    width: 560px;
    height: 512px;
    position: absolute;
    background: rgb(234, 234, 234);

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }
}

.slider__before {
  width: 50%;
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 512px;
  }
}

.slider__cat-before {
  width: 280px;
  height: 256px;
  top: 0;
  left: 0;
  position: relative;
  background: rgb(234, 234, 234);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 560px;
    height: 512px;
    background-image: linear-gradient(rgb(255, 255, 255) 29.5%, rgb(234, 234, 234) 29.5%,);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgb(255, 255, 255) 26.4%, rgb(234, 234, 234) 26.4%,);
  }
}

.slider__cat-after {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    background-image: linear-gradient(rgb(255, 255, 255) 29.5%, rgb(234, 234, 234) 29.5%,);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgb(255, 255, 255) 26.4%, rgb(234, 234, 234) 26.4%,);
  }
}

.slider__after {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__toggle {
  background: rgb(102, 102, 102);
  cursor: ew-resize;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 4px;
  height: 100%;
  padding: 0;
  transition: background-color 0.3s, border-color 0.3s;
  position: absolute;
  top: 1px;
  left: calc(50% - 2px);
  transform: translate(calc(2px - 50%));
  z-index: 10;

  &::before {
    content: "";
    background-color: #ffffff;
    border: 2px solid rgb(102, 102, 102);
    z-index: 20;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: border-color 0.3s;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: translate(calc(20px - 50%), -50%);
  }

  &::after {
    content: " ";
    mask-image: url("../../icons/stack.svg#icon-slider");
    mask-size: contain;
    mask-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 18px;
    top: 118px;
    left: -9px;
    background: rgb(102, 102, 102);
    z-index: 20;

    @media (min-width: $tablet-width) {
      top: 246px;
    }
  }
}

.slider__toggle:hover {
  background: rgba(94, 170, 47, 1);
}

.slider__toggle:hover::after {
  background: rgba(94, 170, 47, 1);
}

.slider__toggle:hover::before {
  border: 2px solid rgba(94, 170, 47, 1);
}

.slider__scale:has(.slider__toggle:hover) {
  background: rgba(94, 170, 47, 1);
}
