.slider {
  padding-bottom: 40px;
  background: #eaeaea;
}

.slider__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  height: 256px;
  position: relative; /* нужен для расчёта ширины блока inner2 */
}

.slider__bar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider__before {
  width: 280px;
  height: 256px;
}

.slider__cat-before {
  width: 280px;
  height: 256px;
  top: 0;
  left: 0;
  position: relative;
  background-color: transparent;
}

.slider__cat-after {
  width: 280px;
  height: 256px;
}

.slider__after {
  width: var(--left);/* нужен для отодвигания ползунка */
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;/* нужен для скрытия картинки */
  background-color: transparent;
}


.slider__scale {
  min-height: 256px;
  width: 4px;
  background: #666666;
  position: relative;
  border-radius: 2px;
  top: -255px;
  left: 138px;
  z-index: 100;
}


.slider__toggle {
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px 8px;
  border-radius: 50%;
  border: 2px solid #666666;
  background: #ffffff;
  background-image: url("../../icons/stack.svg#icon-slider");
  background-size: 24px 18px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 107px;
  left: -18px;
}
