.slider {
  width: 280px;
  margin: 18px auto;
  padding: 0;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 86px;
    min-width: 560px;
    min-height: 462px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .slider__bar {
    width: 560px;
    height: 512px;
    position: absolute;
    background: rgb(234, 234, 234);

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }
}

.slider__before {
  width: 50%;
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 512px;
  }
}

.slider__cat-before {
  width: 280px;
  height: 256px;
  top: 0;
  left: 0;
  position: relative;
  background: rgb(234, 234, 234);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 560px;
    height: 512px;
    background-image: linear-gradient(rgb(255, 255, 255) 29.5%, rgb(234, 234, 234) 29.5%,);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgb(255, 255, 255) 26.4%, rgb(234, 234, 234) 26.4%,);
  }
}

.slider__cat-after {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    background-image: linear-gradient(rgb(255, 255, 255) 29.5%, rgb(234, 234, 234) 29.5%,);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgb(255, 255, 255) 26.4%, rgb(234, 234, 234) 26.4%,);
  }
}

.slider__after {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}


.slider__scale {
  height: 256px;
  width: 4px;
  background: #666666;
  position: relative;
  border-radius: 2px;
  top: -255px;
  left: 138px;
  z-index: 100;
  border: 1px solid rgb(102, 102, 102);


  @media (min-width: $tablet-width) {
    height: 512px;
    top: -512px;
    left: 277px;
  }
}


.slider__toggle {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: -17px;
  top: 107px;

  &::after {
    content: " ";
    mask-image: url("../../icons/stack.svg#icon-slider");
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 18px;
    top: 9px;
    left: 6px;
    background: rgb(102, 102, 102);
    background-size: 24px 18px;
  }


  @media (min-width: $tablet-width) {
    top: 235px;
  }
}

.slider__scale:hover {
  background: rgba(94, 170, 47, 1);
}

.slider__toggle:hover {
  border: 2px solid rgba(94, 170, 47, 1);
}

.slider__toggle:hover::after {
  background: rgba(94, 170, 47, 1);
}

